<% include header %>
<form action='/login' method='post'>
	<label>username: <input type="text" name="username" id="username" /></label>
	<br>
	<label>password: <input type="password" name="password" id="password" /></label>
	<br>
	<button type="submit">Login</button>
</form>
<% include footer %>